*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
   
}
header{
    background-color:#062539 ;
    color: aliceblue;
    height: auto;  
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
nav{
    display: flex;
    justify-content: space-between;
   text-align: center;
/* flex-wrap: wrap;   */
   padding: 30px;
}

nav ul{
    display: flex;

    gap: 15px;
    list-style: none;
    margin-right: 20%;
    margin-top: 20px;
}

.header-div{
    margin-left: 20%;
}
.half-width{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
section div li{
    list-style: none;
}
.first-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 22px;
}
section h1{
    margin-bottom: 20px;
    font-size: 35px;
}
.image1{
    height: 500px;
    width: 500px;
}

.button1{
    /* display: grid;
    grid-template-columns: 125px 125px 125px 125px 125px 125px ;
     */
    margin-top: 150px;
    display: flex;
    align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 10px;
}

.btnbox{
    background-color: rgb(13, 163, 158);
    border: black 2px solid;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
}
/* .btnbox5{
    display: flex;
    flex-basis: 150px;
} */
.container2{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
margin-left: 20vw;
margin-right: 20vw;
gap: 20px;
/* display: flex; */
/* flex-wrap: wrap; */
     
}
 
.offer{
    background-color: rgb(242, 247, 245);
    padding: 15px;
    text-align: center
}
section h2{
    text-align: center;
    padding: 30px;
}

.section3{
    background-color: #062539;
    height: auto;
    width: 100vw;
    margin-top: 40px;
    margin-bottom: 45px;
   
    color: white;
}
.btnbox3{
    background-color: rgb(84, 228, 204);
    padding: 5px;
    font-size: 18px;
    height: auto;
    width:auto;
    color: black;
    border: black solid 1px;
    /* margin-right: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    /* text-align: center; */  
}

.btn3{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    align-items: center;
   gap: 7px;
}
.container3{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 223px; */
    flex-wrap: wrap;

}
.container{
    max-width: 1000px;
    padding: 30px;
    margin: 0 auto;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center  ;
    /* flex-wrap: wrap; */
}
.pricing-table{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    gap: 20px;
}
.plan{
    background-color:thistle;
    padding: 25px;
    text-align: center;
    font-size: 32px;
    border-radius: 20px;
}
.container ul{
    font-size: 30px;
    text-align: center;
}
.img5{
    height: 400px;
    width: 100;
}
@media screen and (max-width: 600px) {
    .first-nav{ 
        display: flex;
        flex-wrap: wrap;
    }
    header {
        height: auto;
    }
    .image1 {
        width: 100%;
    }
.container2{
    grid-template-columns: repeat(1, 1fr);
    margin-left:  0vw;
margin-right:  0vw;
width: 90%;
margin:  0 auto;

}

.offer{
    background-color: rgb(242, 247, 245);
    padding: 15px;
    text-align: center
}
.pricing-table{
    grid-template-columns: repeat(1, 1fr);
}
.img5{
    height: 300px;
}
.first-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

}